{% extends 'main.html' %}
{% block content %}
{% load static %}
<div class="containerh">
    <hr>
    <div class="layout__box">
        <pre>Hi! this is Demo_project no: 0..
            That the working model for login logout and register.
        </pre>
        <div class="layout__boxHeader">
            <h4>Hii!!</h4>
            <p>You are successfully Loged in.</p>
        </div>
        <div class="layout__body">
            <h2>hello{{user.username}}</h2>
        </div>
    </div>
</div>
<hr>


{% endblock content %}